<div class="app">
  <div class="header">Customer statement processor</div>

  <file-upload
    (importedXML)="importXML($event)"
    (importedCSV)="importCSV($event)"
  ></file-upload>

  <app-table [data]="data" [displayedColumns]="displayedColumns"></app-table>

  <button
    mat-flat-button
    color="accent"
    (click)="generateReport()"
    *ngIf="data.length > 0"
  >
    Generate report
  </button>

  <app-transaction-report
    [generateReportClicked]="generateReportClicked"
    [duplicateReferences]="duplicateReferences"
    [invalidTransactionReferences]="invalidTransactionReferences"
  ></app-transaction-report>
</div>
